
/*!*html,*!*/
/*!*body {*!*/
/*!*  max-width: 100vw;*!*/
/*!*  overflow-x: hidden;*!*/
/*!*}*!*/

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #395144;*/
/*    --foreground: #F0EBCE;*/
/*    --font-geist-sans: "Geist Sans", sans-serif;*/
/*    --font-geist-mono: "Geist Mono", monospace;*/
/*  }*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  html {*/
/*    color-scheme: dark;*/
/*    scroll-behavior: smooth;*/
/*  }*/
/*}*/


:root {
  --bg: #395144;
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --bgSoft: #638f66;
  --text: #F0EBCE;
  --btn: #AA8B56;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1536px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


